<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Day02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- servlet-name은 변수 이름처럼 마음대로 지어줘도 되고 -->
  <!-- servlet-class는 java파일로 작성한 클래스의 풀 패키지 이름이어야 함 -->
  
  <servlet>
  	<!-- testServlet이라는 객체를 만든다. -->
  	<servlet-name>testServlet</servlet-name>
  	<servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  
  <!-- servlet이 하는 행동을 하나하나 지정해주는 과정 -->
  <servlet-mapping>
  	<!-- 이 때 servlet-name은 위에 servlet에서 지정한 이름으로 해준다. -->
  	<servlet-name>testServlet</servlet-name>
  	<!-- 브라우저가 보내는 요청(Request) 중 /test02로 오는 요청은 testServlet에게 보내겠다는 의미 -->
  	<url-pattern>/test02</url-pattern>
  	<!-- 참고로 위의 방식은 구식 방법 -->
  </servlet-mapping>
  
</web-app>