<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Day02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- servlet-name은 변수 이름처럼 마음대로 지어줘도 되고 -->
  <!-- servlet-class는 java파일로 작성한 클래스의 풀 패키지 이름이어야 함 -->
  
  <servlet>
  	<servlet-name>testServlet</servlet-name>
  	<servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  
</web-app>